/* Imported Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300%7CCinzel+Decorative:700');

/* Global Styling */
h1, h2 {
  text-transform: uppercase;
  letter-spacing: -1px;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-size: 2.7rem;
}

p {
  font-family: "Roboto Condensed"; 
  font-size: 2rem;
}


/* Page Break Styling */
.break {
  width: 110%;
  margin-left: -10px;
  border: 13px solid #A9A9A9;
}


/* Header Styling */
.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header img {
  position: absolute;
  right: 10px;
  width: 3.5rem;
  filter: invert(100%);
}


/* Navigation Bar Styling */
.navbar {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 20px;
  background-color: #FF9B00;
}

.navbar li {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar a {                  
  text-decoration: none;
  color: #000;
}


/* Main Info Container Styling */
.info {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10px 20px 0px 10px;
  margin: auto;
  gap: 10px;
}

.info section {
  background-color: #FF9b00;
  padding: 0 8px;
}


/* Main Info Content Styling */
#welcome h2,
#fav-photos h2 {
  text-align: center;
}

.img-container {
  display: grid;
  grid-template-columns: 50% 50%; 
  margin: auto;
}

.img-container img {
  width: 100%;
}

/* Footer Styling */
.footer p {
  color: #fff;
}

.footer a {
  color: #FF9B00;
  font-weight: bold;
}

@media (min-width: 1650px) {
   h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 5.3rem;
  }

  .navbar li, p {
    font-size: 2.6rem;
  }

  .break {
    border-width: 15px;
  }

  .header img {
    right: 30px;
    width: 8rem;
  }

  .info {
    gap: 20px;
  }

}
